<!-- begin header  -->
<header class="header">
    <div class="header__inner">
        <section class="header__item header__item--left">
                <ul class="social-links">
                    <li class="social-links__item">
                        <a class="social-links__link social-links__link--twitter" href="/" ></a>
                    </li>
                    <li class="social-links__item">
                        <a class="social-links__link social-links__link--facebook" href="/" ></a>
                    </li>
                    <li class="social-links__item">
                        <a class="social-links__link social-links__link--google" href="/" ></a>
                    </li>
                </ul>
        </section>
        <section class="header__item header__item--right">
            <ul class="user-top-menu">
                <li class="user-top-menu__item">
                    <a class="user-top-menu__link user-top-menu__link--sign-up" href="/" >Sign up</a>
                </li>
                <li class="user-top-menu__item">
                    <a class="user-top-menu__link user-top-menu__link--login" href="/" >Login</a>
                </li>
            </ul>
        </section>
    </div>
</header>
<!-- end header -->
