
@import 'base/common'
@import 'base/subscribe-form'

@import 'controls/hamburger'
@import 'controls/btn'

@import 'layouts/page'

//HEADER
@import 'blocks/common/header'
@import 'blocks/social-links'
@import 'blocks/user-top-menu'
@import 'blocks/common/header-menu'
@import 'blocks/common/logo'
@import 'blocks/common/main-menu'

//VIDEO
@import 'blocks/video'