<section class="jucies">
    <form class="form search-form" action="/">
        <input class="search-form__text form__input" type="text" name="email" placeholder="Search Cloud episodes...">
        <input class="button search-form__button" type="submit" value="Search">
    </form>
    <div class="product">
        <div class="product__item">
            <div class="product__inner">
                <img src="" alt="Coffees">
            </div>
            <span class="product__title">Coffees</span>
        </div>

        <div class="product__item">
            <div class="product__inner">
                <img src="" alt="Coffees">
            </div>
            <span class="product__title">Coffees</span>
        </div>

        <div class="product__item">
            <div class="product__inner">
                <img src="" alt="Coffees">
            </div>
            <span class="product__title">Coffees</span>
        </div>

        <div class="product__item">
            <div class="product__inner">
                <img src="" alt="Coffees">
            </div>
            <span class="product__title">Coffees</span>
        </div>

        <div class="product__item">
            <div class="product__inner">
                <img src="" alt="Coffees">
            </div>
            <span class="product__title">Coffees</span>
        </div>

        <div class="product__item">
            <div class="product__inner">
                <img src="" alt="Coffees">
            </div>
            <span class="product__title">Coffees</span>
        </div>

        <div class="product__item">
            <div class="product__inner">
                <img src="" alt="Coffees">
            </div>
            <span class="product__title">Coffees</span>
        </div>

        <div class="product__item">
            <div class="product__inner">
                <img src="" alt="Coffees">
            </div>
            <span class="product__title">Coffees</span>
        </div>

        <div class="product__item">
            <div class="product__inner">
                <img src="" alt="Coffees">
            </div>
            <span class="product__title">Coffees</span>
        </div>

        <div class="product__item">
            <div class="product__inner">
                <img src="" alt="Coffees">
            </div>
            <span class="product__title">Coffees</span>
        </div>

        <div class="product__item">
            <div class="product__inner">
                <img src="" alt="Coffees">
            </div>
            <span class="product__title">Coffees</span>
        </div>

        <div class="product__item">
            <div class="product__inner">
                <img src="" alt="Coffees">
            </div>
            <span class="product__title">Coffees</span>
        </div>

        <div class="product__item">
            <div class="product__inner">
                <img src="" alt="Coffees">
            </div>
            <span class="product__title">Coffees</span>
        </div>
    </div>
</section>