<section class="video">
   <h1 class="video__title">See our reviews first!</h1>

    <form class="form subscribe-form" action="/">
        <input class="subscribe-form__email form__input" type="email" name="email" placeholder="Your e-mail address">
        <input class="button subscribe-form__button" type="submit" value="Subscribe">
    </form>

    <div class="video__content">
        <iframe class="video__iframe" width="940" height="475" src="https://www.youtube.com/embed/eCSt5kerv1k" frameborder="0" allowfullscreen></iframe>
        <a class="video__link" href="">Watch Video ></a>
    </div>

</section>
