.video
  width 100%
  margin-bottom 83px

  &__title
    text-align center
    font-size 28px
    color #343434
    font-weight 800
    margin-top 31px

  &__content
    max-width 930px
    margin 92px auto 0 auto


  &__iframe
    width 100%
    @media only screen and (max-width: 512px)
      height 230px

  &__link
    background-color #2980b9
    font-size 14px
    min-height 27px
    min-width 142px
    padding 6px 0px 0 0px
    margin-right 0px
    text-align center
    text-decoration none
    color #fff
    text-transform uppercase
    float right
    transition-duration 0.5s

    &:hover
      transition-property background-color
      transition-duration 0.5s
      background-color #005287