.button
  background-color #9acc55
  min-height 43px
  color #fff
  font-weight 400
  font-size 14px
  border none
  transition-duration 0.5s

  &:hover
      cursor pointer
      transition-property background-color
      transition-duration 0.5s
      background-color #76cb00
      outline none
  &:focus, &:active
    outline none