.subscribe-form
  max-width 425px
  margin 0 auto

  &__email
    width 67%
    float left
    min-height 43px
    box-sizing border-box
    border 1px solid #e8e8e8
    padding 0 0 0 14px
    letter-spacing -0.06em

    &:focus, &:active
        outline none

  &__button
    width 32%
    float right
    padding-right 0px