.header
  max-width 100%
  background-color #fff
  min-height 40px

  &__inner
    max-width 1200px
    margin auto
    @media only screen and (min-width: 512px) and (max-width: 1199px)
      padding 0 20px

    @media only screen and (max-width: 512px)
      padding 0 7px

  &__item
    &--left
      float left

    &--right
      float right
