.main-menu
  float right
  margin-top 22px

.main-menu__item
  float left
  list-style none
  margin-left 47px
  letter-spacing -0.045em
  text-align center


.main-menu__link
  font-weight 400
  color #fff
  text-decoration none
  font-size 13px
  padding-bottom: 20px;

  &:hover
    border-bottom: 4px solid #65c2ff;
    text-decoration none